/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --bg-light: hsl(148, 23%, 89%);
  
  font-size: 62.5%; /* 1rem = 10px */

  --nav-right: 7.2rem; /* navegagação */
}

/* deixando a rolagem mais suave*/
html{
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  /* usando overlay no overflow ele não contará a parte do scroll como parte da tela*/
  overflow: overlay;
  background-color: var(--bg-light);
}

/*classe feita para ser usada no html */
.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none; /* tirando os pontinhos dos tópicos inicio, serviços e sobre*/
}

section {
  padding-block: 10rem;
}

section header h4{ 
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 00.08rem;
  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2{

  font-size: 3rem;
  line-height: 3.9rem;
}

section header h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}


/* NAVIGATION */

nav {
  display: flex;

  /*padding-inline: 2.4rem;
  padding-block: 1.6rem; é igual a padding: 1.6rem 2.4rem;
  Nesse caso, foi usado um calculo para formar o padding pela margem*/

  height: var(--nav-right);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background: var(--primary-color);

}

nav.scroll .logo path {
  /* COR DA LOGO*/
  fill: white;
}

nav.scroll button path {
  /* COR DAS TRES LINHAS*/
  stroke: white;
}

/* retirando a estilização do button close menu*/
nav button {
  background: none;
  border: none;
  cursor: pointer;
}


/* HEADER FOI MUDADO PARA HOME */
#home {
  /* é padding-top ao invés margin-top pq era o preenchimento*/
  padding-top: calc(4.1rem + var(--nav-right));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-right));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* jogando a box para o eixo z, tridimensional*/
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto; /* eixo x que envolve a margem direita e esquerda */

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);

  display: flex; /*coloca as caixas uma ao lado da outra (linha), mas podemos mudar a direção do display*/
  flex-direction: column;
  justify-content: center;
  gap: 6rem; /* separação entre os elementos */
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}
#home .stat p {
  margin: 0;

  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/* MENU-EXPANDED */

/* o overflow fará com que nao tenha como dar scroll na tela*/
body.menu-expanded {
  overflow: hidden;
}

/* isso significa: para todos do primeiro nível exceto, então o que não pertencer a nav sumirá*/
body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
   /* TRANSIÇÃO DO MENU (fazendo ele ir de baixo pra cima) */
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-right);

  /* TRANSIÇÃO DO MENU */
  transition: transform 300ms;
  transform: translateY(0);
}


.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

/* temos que especificar onde os tópicos estão de fato para mudar a cor do texto e tirar a decoração dele*/

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  /* COR DA LOGO*/
  fill: white;
}

body.menu-expanded button path {
  /* COR DAS TRES LINHAS*/
  stroke: white;
}

/* ------- SERVICES --------- */

/* PARA SE REFERIR A UM ID USAMOS O HASH (#)*/

#services h2{
  margin-bottom: 6rem;
}
#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/* ------- ABOUT --------- */
#about {
  text-align: left;
  background-color: var(--brand-beige);
  

}

#about header h2{
  margin-bottom: 2.4rem;
}

#about .content p{
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}